        h1{
			font-family: cursive;
			font-size: 30px;
			text-align: center;
		}

		div{
			background-color: gray;
			border: 3px solid black;
			position: relative;
			float: left;
			font-family: cursive;
		}

		@media (min-width: 992px) {
			div{
			width: 31.5%;
			margin: 5px;
		    }
		}

		@media (min-width: 768px) and (max-width: 991px) {
			div{
			margin: 12px;
		    }
		     #div1{
				width: 46%;
			}
			#div2{
				width: 46%;
			}
			#div3{
				width: 95.5%;
			}
		}
		@media (max-width: 767px) {
			div{
			margin: 5px;
			width: 95%;
		    }
		}

		p{
			padding: 30px 10px 0px 10px;
		}

		#chicken{
			
			background-color: pink;
			width: 100px;
			height: 20px;
			border:1px solid black;
			padding: 5px;
			margin: 0;
			position: absolute;
			right: 0;
			top: 0;
			font-weight: bold;
			text-align: center;
		}
		#beef{
			
			background-color:#A52A2A;
			width: 100px;
			height: 20px;
			color: white;
			border:1px solid black;
			padding: 5px;
			margin: 0;
			position: absolute;
			right: 0;
			top: 0;
			font-weight: bold;
			text-align: center;

		}
		#sushi{
			
			background-color: #F0E68C;
			width: 100px;
			height: 20px;
			border:1px solid black;
			padding: 5px;
			margin: 0;
			position: absolute;
			right: 0;
			top: 0;
			font-weight: bold;
			text-align: center;